openapi: 3.0.3
info:
  title: hey intern api - OpenAPI 3.0
  version: 1.0.11
paths:
  /purchase:
    post:
      summary: 購入時にpostする。
      requestBody:
        content:
          application/json:
            schema:
              # "$ref": "#/components/schemas/Purchase"
              "$ref": "#/components/schemas/UserInfo"
        required: true
      responses:
        '201':
          description: Created Content
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Purchase"
        '400':
          description: Bad request
        '500':
          description: Internal server error
    patch:
      summary: 購入IDに紐づいた商品の在庫を1減らす
      requestBody:
        content:
          application/json:
            schema:
              type: integer
              format: int64
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Purchase"
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /purchase/{purchases_id}:
    get:
      summary: 事前決済の現地受けとり情報を取得する
      parameters:
        - name: purchases_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful purchases
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Purchase"

components:
  parameters:
    userId:
      name: userId
      in: path
      required: true
      description: ユーザーの ID
      schema:
        type: integer
  schemas:
    UserInfo:
      type: object
      description: ユーザー情報
      properties:
        name:
          type: string
          description: ユーザーの名前
        address:
          type: string
          description: 居住地
        phone_number:
          type: string
          description: 電話番号
        mail_address:
          type: string
          description: メールアドレス
    PurchaseItems:
      type: array
      description: 購入した商品
      properties:
        items: {}
    Purchase:
      type: object
      description: 購入する
      allOf:
      - "$ref": "#/components/schemas/UserInfo"
      - properties:
          id:
            type: integer
            description: PurchaseのID
          is_acceptance:
            type: boolean
            default: false
            description: 受け取ったかどうか
      required:
        - name
        - address
        - phone_number
        - mail_address
        - is_acceptance